name: Daily Job Scraper

on:
  schedule:
    - cron: "0 12 * * *"  # TODO: Adjust time if you're in a different timezone
  workflow_dispatch:

jobs:
  run-job-scraper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run scraper
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}  # TODO: Add GitHub secret for your email
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}  # TODO: Add GitHub secret for your email password or app password
        run: python main.py
